body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  /* margin: 1em; */
  display: inline-block;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  font-family: Arial;
  font-size: 16px;
  /* background: #659dbd; */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5Zaq7p2dG5Hs_26Cnl25nA36YLu50-acSZPvEZZf2m-srf63hpQ&s");
}

.sidebar {
  width: 20%;
  height: 100vh;
  background: #312450;
  font-size: 0.65em;
  display: flex;
  border-right: 5px solid #111430;
  flex-direction: column;
}
.main {
  display: flex;
}

.nav {
  text-align: right;
  font-weight: bold;
}

.nav ul {
  list-style: none;
}
li {
  position: relative;
  margin: 3.2em 0;
}
a {
  line-height: 3em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(#fff, 0.35);
  display: block;
  transition: all ease-out 300ms;
}

.active a {
  color: white;
}

/* :not(.active)::after {
  opacity: 0.2;
} */

:not(.active):hover a {
  color: rgba(#fff, 0.75);
}

/* ::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
} */
.twitter {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

p {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}
.main-map {
  height: 690px;
  width: 95%;
}
.nav-base {
  background-color: azure;
}
.side-menu {
  height: 736px;
}
.place-link {
  color: white;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  margin: 1px;
}
.entry-list {
  height: 700px;
  overflow-y: scroll;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Post--content {
  color: white;
  text-align: center;
}
.AddEntry {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-items: flex-end;
}
.input-field {
  margin: 7px;
  width: 25%;
  border-radius: 8px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
#map {
  /* position: absolute; */
  top: 10px;
  bottom: 0;
  width: 75%;
}

#menu {
  /* position: absolute; */
  background: #fff;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}
#info {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff;
}
.AddLandmark {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 8px;
  align-items: flex-end;
}
.search-box {
  display: flex;
  justify-content: center;
}
.mapboxgl-map {
  display: flex;
  height: 95vh;
  width: 80vw;
}
.main-container {
  display: flex;
  /* flex-direction: row-reverse; */
}
.location-search-input {
  width: 50%;
  height: 20px;
  border-radius: 8px;
  font-weight: 800;
  text-align: center;
  background-color: lightcyan;
}
input {
  width: 50%;
  height: 20px;
  border-radius: 8px;
  margin: 5px;
}
.Places-head {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  background-color: peru;
  border-radius: 30px;
  height: 30px;
}
.main-page {
  width: 50%;
}
.main-search-comp {
  height: 30px;
  width: 96%;
}
.search-btn {
  height: 34px;
  border-radius: 8px;
  width: 85px;
  background-color: #3b5998;
  color: white;
  font-weight: 800;
}
.entry-form-container {
  background-image: linear-gradient(#4ecdc4, #556270);
  height: 800px;
}
.form-pic {
  height: 742px;
  width: 625px;
}
.landmard-src {
  display: flex;
  justify-content: center;
}
.testing {
  width: 100%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5Zaq7p2dG5Hs_26Cnl25nA36YLu50-acSZPvEZZf2m-srf63hpQ&s");
  height: 800px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.both-forms {
  width: 35%;
  height: 600px;
  /* background-color: #0d87cefa; */
  background-image: url("https://ak9.picdn.net/shutterstock/videos/1024066349/thumb/1.jpg");
  /* background: rgba(255, 255, 255, 0.3); */
  /* background-color: #e6f1f5; */
  box-shadow: 0 5px 10px black;
  border-radius: 40px;
  justify-content: space-evenly;
}
.CurrentUser-pic {
  height: 100px;
  border-radius: 50px;
}
.create,
.drop-zone {
  align-self: center;
  margin: 30px;
}

.add-desc {
  background-color: lightcyan;
  font-weight: 800;
  width: 80%;
  height: 100px;
  align-self: center;
  text-align: center;
  margin: 30px;
}
.create-land {
  align-self: center;
  height: 35px;
  font-size: 16px;
  background: #3b5998;
  color: white;
  font-weight: 800;
}
.create-entry {
  align-self: center;
  height: 35px;
  font-size: 16px;
  background: #3b5998;
  color: white;
  font-weight: 800;
  border-radius: 9px;
}
.create-entry:hover,
.create-land:hover {
  background-color: #64e687;
  color: white;
}
.create-date {
  align-self: center;
  width: 115px;
  padding-left: 3em;
}
.logo-pic {
  height: 29px;
}
h2 {
  color: white;
}
p.user-info {
  color: white;
}
.delete {
  margin: 8px;
  height: 25px;
  border-radius: 14px;
  color: #ad422e;
  font-size: 1rem;
  background: transparent;
}
.picture-container {
  align-self: center;
  font-size: 16px;
  background: white;
  color: white;
  font-weight: 800;
  border-radius: 9px;
}
.single-pic {
  height: 250px;
  width: 250px;
  margin: 25px;
}
.land-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3b5998;
  box-shadow: 0 5px 10px black;
}
.Landmarl-content {
  max-width: 1200px;
}
.page-entry {
  max-width: 1200px;
  display: flex;
  justify-content: center;
}
.Landmarks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .buttons {
  display: flex;
  justify-content: space-between;
} */
.show-btn {
  height: 25px;
  border-radius: 14px;
  color: #64e687;
  font-size: 1rem;
  background: transparent;
}
.main-form {
  text-align: center;
}
.show-btn:hover {
  background-color: #64e687;
  color: white;
}
.delete:hover {
  background-color: #ad422e;
  color: white;
}
.search-btn:hover {
  background-color: peru;
  color: white;
}
.main-name {
  font-size: 17px;
  color: white;
}
.main-name:hover {
  background-color: #64e687;
  color: red;
  border-radius: 30px;
}
.main-links:hover {
  background-color: tomato;
  color: white;
  border-radius: 40px;
}
.drop-zone:hover {
  background-color: #64e687;
}
